# OS
.DS_store
Thumbs.db
.envrc

# Ignore backup and swap files
*~
*.swp
*.swo
*.swn
*.bak
*.tmp
**/tmp

# Logs, caches
*.log
.cache/
*.pid

# Secrets
*.key
*.pem
*.crt
*.p12
*.gpg
*.asc
*.secrets
*.kdbx
*.db
auth.json
id_rsa*
id_ed25519*

# Packages
node_modules/

# devcontainers
.devcontainer/.devpod-internal

# emacs
\.directory
emacs/custom.el
emacs/.cache
emacs/elpa

# nvim
Session.vim

# nushell
nushell/**/history*
nushell/api.env

# yazi
yazi/plugins
yazi/package.toml

