# -----------------------------------------------------------------------------
# Kanagawa Paper Canvas
# Upstream: https://github.com/thesimonho/kanagawa-paper.nvim/master/extras/fzf/kanagawa-paper-canvas.rc
# URL: https://github.com/junegunn/fzf/tree/master#environment-variables
# Note: You can either export the following as an environment variable (export FZF_DEFAULT_OPTS='...') or
#       add the following to an opts file and point FZF_DEFAULT_OPTS_FILE to it.
#       See the URL above for more information.
# -----------------------------------------------------------------------------

--color=bg:-1,bg+:#d8d8d2,fg:-1,fg+:#62666a,hl:#866b81,hl+:#a56461
--color=header:#977865,info:#6d848e,pointer:#455e6a
--color=marker:#455e6a,prompt:#a56461,spinner:#6b7a95
